{% extends "base.html" %}

{% block title %}Tree View{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tree View</h1>
        <div class="row">
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <h2>{{ category.name }}</h2>
                        <ul>
                            {% for subcategory in category.subcategories.all %}
                                <li>{{ subcategory.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
