{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/tree.css' %}">
{% endblock %}

{% block title %}Tree View{% endblock %}

{% block content %}
    <div class="tree-view-area">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="text-center text-dark fs-2 fw-bold mb-0">Category Tree</h1>
            <button class="btn btn-add-category"
                    hx-get="{% url 'category_create' %}"
                    hx-target="#htmx-modal-dialog"
                    hx-swap="innerHTML"
                    aria-label="Add Category">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <div id="category-tree-container" hx-get="{% url 'category_block' %}" hx-trigger="load, categoryListChanged from:body" hx-swap="innerHTML">
            Loading categories...
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/color-contrast.js' %}"></script>
    <script src="{% static 'js/tree.js' %}"></script>
{% endblock %}
