<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Life Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body>
    <header>
      <!-- Naigation bar with links to calendar and projects -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.endpoint == 'calendar' %}active{% endif %}"
                  href="{{ url_for('calendar') }}"
                  >Calendar</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.endpoint == 'projects' %}active{% endif %}"
                  href="{{ url_for('projects') }}"
                  >Projects</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">{% block main %}{% endblock %}</div>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts %}{% endblock %} {% block styles %}{% endblock %}
  </body>
</html>
