{% extends "base.html" %} {% block title %}Calendar{% endblock %} {% block main
%}
<div class="calendar-container">
  <h1 class="calendar-title">Calendar</h1>
  <div class="row g-4">
    {% for date, plannings in planning_by_day.items() %}
    <div class="col-3">
      <div class="card h-100 animated-card">
        <div class="card-header">
          <h5 class="card-title">{{ date | datetimeformat('d/M/Y, EEEE') }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          {% if plannings %} {% for planning in plannings %}
          <li class="list-group-item planning-item">
            <div class="d-flex justify-content-between align-items-center">
              <strong class="task-title">{{ planning.task.title }}</strong>
              <span class="planning-time">
                {% if planning.start_hour and planning.end_hour %} {{
                planning.start_hour|datetimeformat('H') }}{% if
                planning.start_hour.minute %}:{{
                '%02d'|format(planning.start_hour.minute) }}{% endif %} - {{
                planning.end_hour|datetimeformat('H') }}{% if
                planning.end_hour.minute %}:{{
                '%02d'|format(planning.end_hour.minute) }}{% endif %} {% elif
                planning.start_hour %} {{
                planning.start_hour|datetimeformat('H') }}{% if
                planning.start_hour.minute %}:{{
                '%02d'|format(planning.start_hour.minute) }}{% endif %} {% elif
                planning.end_hour %} - {{ planning.end_hour|datetimeformat('H')
                }}{% if planning.end_hour.minute %}:{{
                '%02d'|format(planning.end_hour.minute) }}{% endif %} {% endif
                %}
              </span>
            </div>
            {% set priority_colors = ['#FFD700', '#FFC107', '#FFA07A',
            '#FF4500', '#DC3545'] %}
            <div class="priority-line mt-2">
              <div
                class="priority-fill"
                style="width: {{ (planning.priority / 5) * 100 }}%; background-color: {{ priority_colors[planning.priority - 1] if planning.priority >= 1 and planning.priority <= 5 else '#ccc' }}"
              ></div>
            </div>
          </li>
          {% endfor %} {% else %}
          <li class="list-group-item text-center text-muted no-plannings">
            No plannings for this day.
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/calendar.css') }}"
/>
{% endblock %}
